body		{background-color: #000; font-family: Sans-serif;}
td			{border-spacing: 20px;}
embed		{padding: 2.8%;}
input		{font-size: 50pt; width: 95%;}
	input[type=radio]	{height: 1.25em; padding-bottom: 1em;}