body		{background-color: #000; font-family: Sans-serif;}
td			{padding: 28px;}
embed		{padding: 2.8%;}
input		{font-size: 50pt; width: 95%;}
	input[type=radio]	{height: 1.25em; padding-bottom: 1em;}
	
h1			{font-size: 75pt; color: #fff; margin:0em}
h2			{font-size: 50pt; color: #fff; margin:0em}